@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
}

.menu{
    background-color: #333333;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    color: #d6d6d6;
    font-size: 13px;
    padding-left: 7%;
    padding-top: 0.5%;
    padding-right: 4%;
}

span, img{
    padding-left: 3%;
    padding-right: 3%;
    /*border: solid 1px #d6d6d6;*/
}

#loupe, #shop{
    padding-top: 1px;
    height: 21px;
    width: auto;

}

#pomme{
    font-size: 20px;
}